.sign-in{
    width: 380px;
    display: flex;
    flex-direction: column;
    
    h1{
        color: #6200EE;       
    }
    // span{
    //     color:#55bb79;
    //     text-align: center;
    //     font-weight: bolder;
    // }


    .title{
        margin: 10px 0;
    }

    .button{
        display: flex;
        justify-content: space-between;
    }
}